.section{
    display: flex;
    align-items: center;
    border-bottom: 2px;
    padding:15px;
    min-width: 200px;
    cursor: pointer;
    max-width: 300px;
}

.section:hover{
    background-color: rgb(231, 231, 231);
    border-width: 3px !important;
}

.section h4{
    margin-left: 10px;
}